.volunteerForm {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 40%;
}

.inputDiv {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.inputField {
  width: 30%;
  height: 30px;
  margin-bottom: 3%;
}

.largeInputField {
  width: 30%;
  height: 100px;
  margin-bottom: 3%;
}

.volunteerSubmitButton {
  width: 30%;
  margin-bottom: 1%;
}


